<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改数据字典</title>
    <link rel="stylesheet" type="text/css" href="/assets/themes/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/My97DatePicker/skin/twoer/datepicker.css">
</head>
<body>
<div style="margin:20px auto; width:400px;">
    <form id="editDictForm" class="layui-form " method="post">
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">名称<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input type="hidden" name="id" th:value="${tbDict.id}">
                <input name="name" th:value="${tbDict.name}" lay-verify="required" id="name" autocomplete="off"
                       placeholder="请输入标签名!" class="layui-input required" type="text">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label">父节点<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <select name="customerLevel" lay-verify="customerLevel" lay-search>
                    <option value="">请选择父节点!</option>
                    <option th:each="tbDict2,tbDictStat:${tbDictList}" th:text="${tbDict2.name}"
                            th:selected="${tbDict2.id==tbDict.pId}" th:value="${tbDict2.id}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-font">操作</label>
            <input id="edit" type="button" class="layui-btn layui-btn-small" lay-submit="" lay-filter="edit" value="保存">
            <input type="reset" class="layui-btn layui-btn-danger layui-btn-small" value="重置">
            <input type="button" id="close" class="layui-btn layui-btn-warm layui-btn-small" value="关闭"/>
        </div>
    </form>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/themes/layui/lay/dest/layui.all.js"></script>
<script src="/script/dict/editTbDict.js"></script>
</body>
</html>