<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="/assets/themes/layui/css/layui.css">
</head>
<body>
<div style="margin: 0 auto;width:80%;">
    <form style="margin:10px auto;" id="personInfoForm"  class="layui-form ">
        <input type="hidden" name="userId" th:value="${session.employeeInfo.userId}">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input type="text" name="title" required="" lay-verify="name"
                       th:value="${employeeInfo.name}"  placeholder="请输入用户名!" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">性别<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input type="radio" name="gender" th:checked="${employeeInfo.gender eq '1'}" value="1" title="男"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>男</span></div>
                <input type="radio" name="gender" th:checked="${employeeInfo.gender eq '2'}" value="2" title="女" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>女</span></div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">邮箱<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input name="email"  lay-verify="email" placeholder="请输入邮箱!如：xxxx@hzitxx.com" autocomplete="off"
                       th:value="${employeeInfo.email}" class="layui-input" type="email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信号<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input type="text" name="wechatNo" required="" lay-verify="wechatNo"
                       th:value="${employeeInfo.wechatNo}"  placeholder="请输入微信号!" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" name="tel" required="" lay-verify="tel"
                       th:value="${employeeInfo.tel}"  placeholder="请输入电话号码!" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text" th:value="${employeeInfo.roleName}" style="pointer-events: none;"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="pointer-events: none;">
            <label class="layui-form-label">所在校区</label>
            <div class="layui-input-block">
                <select  >
                    <option th:each="company,companyStat:${companyList}"
                            th:selected="${company.id == employeeInfo.companyId}"
                            th:text="${company.name}"  th:value="${company.id}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="pointer-events: none">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-block">
                <select >
                    <option th:each="dept,deptStat:${deptList}"
                            th:selected="${dept.id == employeeInfo.deptId}"
                            th:text="${dept.name}"  th:value="${dept.id}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="operate"></label>
            <div class="layui-input-block" id="operate">
                <!--<span><button class="layui-btn layui-btn-small" id="edit" lay-submit="" lay-filter="edit">保存</button></span>-->
                <span><input type="button" value="保存" lay-submit="" lay-filter="edit" class="layui-btn layui-btn-small" id="edit" /></span>
                <!--<span><input type="button" value="关闭" class="layui-btn layui-btn-small layui-btn-warm" id="cancel"  /></span>-->
                <span><input type="button" value="手动修改密码" class="layui-btn layui-btn-small layui-btn-danger" id="changePwd"/></span>
                <span><input type="button" value="生成随机密码" class="layui-btn layui-btn-small " style="background-color:purple;color:white;" id="changePwdByEmail"/></span>
            </div>

        </div>
    </form>
</div>
<script src="/assets/js/jquery-2.0.0.min.js"></script>
<script src="/assets/themes/layui/lay/dest/layui.all.js"></script>
<script src="/script/employeeInfo/personInfo.js"></script>
</body>
</html>