<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitshop.mapper.CustomerInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hzitshop.entity.CustomerInfo">
		<id column="customer_id" property="customerId" />
		<result column="real_name" property="realName" />
		<result column="sex" property="sex" />
		<result column="age" property="age" />
		<result column="native_place" property="nativePlace" />
		<result column="tel" property="tel" />
		<result column="wechat_no" property="wechatNo" />
		<result column="qq" property="qq" />
		<result column="education_bg" property="educationBg" />
		<result column="graduate_time" property="graduateTime" />
		<result column="graduate_from" property="graduateFrom" />
		<result column="major_in" property="majorIn" />
		<result column="work_age" property="workAge" />
		<result column="work_experience" property="workExperience" />
		<result column="job" property="job" />
		<result column="educate_experience" property="educateExperience" />
		<result column="recruit_channel" property="recruitChannel" />
		<result column="customer_state" property="customerState" />
		<result column="customer_level" property="customerLevel" />
		<result column="user_id" property="userId" />
		<result column="target_skill" property="targetSkill" />
		<result column="introducer" property="introducer" />
		<result column="memo" property="memo" />
		<result column="last_time" property="lastTime" />
		<result column="create_time" property="createTime" />
		<result column="company_id" property="companyId" />
		<result column="isDelete" property="isDelete" />
		<result column="guandan" property="guandan" />
		<result column="isMarket" property="isMarket" />
	</resultMap>

	<!--统计学员感兴趣的技能-->
	<select id="companyCount" resultType="com.hzitshop.vo.CompanyCount" parameterType="map">
		select count(*) as value,di.name as name from
		customer_info ci,
		(SELECT id  as tid,name from tb_dict where pid=2 )di
		where company_id =#{map.companyId} and ci.target_skill =  di.tid
		and  DATE_FORMAT(create_time,'%Y-%m') = #{map.month} GROUP BY di.tid ;

	</select>
	<!--每月每个咨询师报名统计-->
	<select id="baoming" resultType="com.hzitshop.vo.CompanyCount" parameterType="map">
		select ei.name as name,count(ci.user_id) as value  from
			customer_info ci,
			employee_info ei
		where ei.user_id =ci.user_id
		and ci.customer_state=32
		and DATE_FORMAT(ci.create_time,'%Y-%m')=#{map.month}
		and ci.company_id = #{map.companyId}
		group by ei.name;
	</select>
	<!--每月统计每个分公司每个创量人员的邀约人数-->
	<select id="chuangliangMonthData" resultType="com.hzitshop.vo.CompanyCount" parameterType="map">
		select  ei.`name` as name,count(ci.customer_id) as value from
			customer_info ci,
			employee_info ei
		where
			ci.introducer = ei.user_id
			and ei.dept_id= 76
			and ei.company_id = #{map.companyId}
			and DATE_FORMAT(ci.create_time,'%Y-%m') =#{map.month}
			group BY ei.user_id;
	</select>
	<!--统计创量中应聘渠道-->
	<select id="recruitChannelMonthData" resultType="com.hzitshop.vo.CompanyCount" parameterType="map">
       -- 获取每月每个创建人员的应聘渠道统计信息
	select count(*) as value, di.name from
			customer_info ci,
			(select id ,name from tb_dict where pid=21) as di
	where ci.recruit_channel =di.id
	<if  test="map.companyId!=null">
		and company_id = #{map.companyId}
	</if>
	and DATE_FORMAT(ci.create_time,'%Y-%m') =#{map.month}
	group by di.id ;
	</select>
</mapper>
