<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitshop.mapper.EmployeeInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hzitshop.entity.EmployeeInfo">
		<id column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="wechat_no" property="wechatNo" />
		<result column="tel" property="tel" />
		<result column="real_name" property="realName" />
		<result column="dept_id" property="deptId" />
		<result column="company_id" property="companyId" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="isDelete" property="isDelete" />
		<result column="isLocked" property="isLocked" />
		<result column="gender" property="gender" />
		<result column="isConsultant" property="isConsultant" />
		<result column="email" property="email" />
		<result column="isEmailActive" property="isEmailActive" />
		<result column="resource_ids" property="resourceIds" />
		<result column="isPermission" property="isPermission" />
		<result column="role_name" property="roleName" />
		<result column="dingding_id" property="dingdingId" />
	</resultMap>
	<!--根据公司编号获取创量人员信息-->
	<select id="selectByCompanyId"  parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM employee_info WHERE company_id = #{map.companyId} AND isLocked != 1 AND role_name LIKE '创量%';
	</select>
	<!--根据角色名称获取信息-->
	<select id="selectByRole" resultMap="EmployeeVoNameIdMap" parameterType="map">
        SELECT
           user_id,name
        FROM
             employee_info
        WHERE
             company_id = #{map.companyId}
        AND
             isLocked = 0
        AND
             role_name  LIKE #{map.like};
	</select>

	<resultMap id="EmployeeVoNameIdMap" type="com.hzitshop.vo.employeevo.EmployeeVoNameId">
       <id column="user_id" property="userId"></id>
		<result column="name" property="name"></result>
	</resultMap>
</mapper>
