<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/My97DatePicker/skin/twoer/datepicker.css">

</head>
<body>
<input type="hidden" name="companyId" th:value="${session.employeeInfo.companyId}">
<input type="hidden" name="roleName" th:value="${session.employeeInfo.roleName}">
<div style="float: left;width:100%">
    <div style="margin-top:20px;margin-bottom: 20px;margin-left: 20px;" >
        <form class="form-inline" style="display: inline-block;">
            <!--获取公司信息-->
            <span id="companySpan" style="display: none;">校区:</span>
            <select name="company" class="form-control" style="width:240px;display: none;" >
                <!--<option value="-1">请选择校区!</option>-->
                <option th:each="tbDict,tbDictStat:${tbDictList}"
                        th:selected="${tbDict.id == session.employeeInfo.companyId}"
                        th:text="${tbDict.name}" th:value="${tbDict.id}"></option>
            </select>
            <span>日期:</span>
            <input id="month"  class="form-control twoer" style="width:200px;font-size: 16px;"
                   onClick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM',onpicked:function(){
                     $('#search').click();
                  }})"
                   type="text" placeholder="请选择时间!">
            <!--学员状态-->
            <!-- <select class="form-control" style="width:240px;" >
                 <option value="-1">请选择学员状态!</option>
                 <option th:each="customerState,customerStateStat:${customerStateList}"
                         th:text="${customerState.name}" th:value="${customerState.id}"></option>

             </select>-->
            <input style="display: none;" type="button" class="form-control" id="search" value="获取数据">
        </form>
    </div>
    <div style="float: left;width:48%;">
        <div style="width:100%;height:600px;border:1px solid orange;border-right: 0px;" id="showCompanyCount">
        </div>
    </div>
    <div style="float: left;width:48%;">
        <div style="width:100%;height:600px;float: left;border:1px solid orange;" id="showBaoMing">

        </div>
    </div>
</div>

<script src="/assets/js/jquery-2.0.0.min.js"></script>
<script src="/assets/layer/layer.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/My97DatePicker/WdatePicker.js"></script>
<script src="/assets/echarts/echarts.min.js"></script>
<script src="/script/statistics/index.js"></script>
</body>
</html>