<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>修改录入信息</title>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/amazeui/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/amazeui/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/assets/amazeui/css/app.css">
    <script src="/assets/amazeui/js/jquery.min.js"></script>
    <script src="/assets/amazeui/js/amazeui.min.js"></script>
    <script src="/assets/amazeui/js/amazeui.datatables.min.js"></script>
    <script src="/assets/amazeui/js/dataTables.responsive.min.js"></script>
    <script src="/assets/amazeui/js/app.js"></script>
    <script src="/assets/layer/layer.js"></script>
    <style>
        .am-radio{
            float:left;
            width:64px;
            height:24px;
        }
        #btnEditCustomerInfo{
            clear:left;
        }
    </style>

</head>
<body>
<form class="am-form" id="editCustomerInfoForm" method="post">
    <!--customerId-->
    <input type="hidden" name="customerId" th:value="${customerInfo.customerId}">
   <!-- <span th:value="${customerInfo}"></span>-->
    <!--<input type="text" th:value="${custmoerInfo.userId}">-->
    <fieldset >
        <div class="am-form-group">
            <label for="realName">应聘者名:</label>
            <input type="text" name="realName" id="realName"
                   th:value="${customerInfo.realName}"  class="am-form-field am-radius"  placeholder="请输入应聘者名!">
        </div>
        <div class="am-form-group">
            <label for="realName">电话号码:</label>
            <input type="text" name="tel" id="tel"
                   th:value="${customerInfo.tel}"  class="am-form-field am-radius"  placeholder="请输入电话号码!">
        </div>
        <div class="am-form-group">
            <label for="userId">咨询师:</label>
            <select id="userId" name="userId">
                <option th:each="employeeInfoVo,employeeInfoVoStat:${employeeInfoVoList}"
                        th:selected="${employeeInfoVo.userId == customerInfo.userId}"
                        th:text="${employeeInfoVo.name}" th:value="${employeeInfoVo.userId}"></option>
            </select>
        </div>
        <div class="am-form-group">
            <label for="sex">性别:</label>
            <div id="sex" style="margin-left: 50px;">
                <label class="am-radio" style="margin-top: -7px;margin-right: 14px;">
                    <input th:checked="${customerInfo.sex==1}" name="sex" value="1" title="男"  type="radio" data-am-ucheck>男
                </label>
                <label class="am-radio" style="margin-top: -7px;margin-right: 14px;">
                    <input th:checked="${customerInfo.sex==2}" name="sex" value="2" title="女" type="radio" data-am-ucheck>女
                </label>
            </div>
        </div>

        <div class="am-form-group">
            <label for="age" style="position: absolute;left: 7px;">年龄:</label>
            <br/>
           <input type="text" name="age" id="age"
                   th:value="${customerInfo.age}"  class="am-form-field am-radius"  placeholder="请输入年龄!">
        </div>
        <div class="am-form-group">
            <label for="educationBg">学历:</label>
            <input type="text" name="educationBg" id="educationBg"
                   th:value="${customerInfo.educationBg}"  class="am-form-field am-radius"  placeholder="请输入学历!">
        </div>
        <div class="am-form-group">
            <label for="recruitChannel">应聘渠道:</label>
            <input type="text" name="recruitChannel" id="recruitChannel"
                   th:value="${customerInfo.recruitChannel}"  class="am-form-field am-radius"  placeholder="应聘渠道!">
        </div>
        <div class="am-form-group">
            <label for="job">应聘职位:</label>
            <input type="text" name="job" id="job"
                   th:value="${customerInfo.job}"  class="am-form-field am-radius"  placeholder="请输入应聘职位!">

        </div>
        <div class="am-form-group">
            <label for="memo">备注:</label>
            <!--<input type="text" name="memo" id="memo"
                     class="am-form-field am-radius"  placeholder="请输入备注!">-->
            <textarea id="memo" name="memo" placeholder="请输入备注!" th:text="${customerInfo.memo}" class="form-control" rows="4"></textarea>
        </div>
        <div  style="width:100%;height:60px;margin-top:34px;">
            <span>
                <label class="am-radio" style="margin-top: -7px;margin-right: 14px;">
                    <input type="radio"  th:checked="${customerInfo.customerState==28}" name="customerState"  value="28" data-am-ucheck >待面试
                </label>
                <label class="am-radio" style="margin-top: -7px;margin-right: 14px;">
                    <input type="radio"  th:checked="${customerInfo.customerState==29}" name="customerState"  value="29" data-am-ucheck >已面试
                </label>
                <label class="am-radio">
                    <input type="radio" th:checked="${customerInfo.customerState==40}" name="customerState"   value="40" data-am-ucheck>无效
                </label>
               <!-- <label class="am-radio">
                    <input type="radio"  disabled id="customerState3"  name="customerState"   data-am-ucheck>其他
                </label>-->
            </span>
        </div>
        <button type="button" id="btnEditCustomerInfo" class="am-btn am-btn-primary am-radius am-btn-xs">修改</button>
        <button type="button" id="btnClose" class="am-btn am-btn-warning am-radius am-btn-xs">关闭</button>
    </fieldset>
</form>
<script src="/script/foreground/foreground.js"></script>
</body>
</html>
